.home_nav {
    width: 100%;
    height: 72px;
    z-index: 1;
    color: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
    background: #f5f5f5;
    box-shadow: 0px 1px 5px #888888;
  }
  .home_nav > div:nth-child(1) {
    max-width: 1188px;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .home_nav img {
    margin: 15px 0;
    min-width: 135px;
    height: 36px;
  }
  .home_nav_ele {
    min-width: 85%;
    height: 70px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    display: block;
  }
  .home_nav_ele > div {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  .home_nav_ele > div > ul {
    display: flex;
    flex-direction: row;
  }
  .home_nav_ele > div > ul > li {
    cursor: pointer;
    margin-top: 10px;
    list-style: none;
  }
  .home_nav_ele label {
    margin: 50px 10px 0 10px;
  }
  .home_nav a {
    text-decoration: none;
    color: #3c3c3c;
    font-weight: 700;
  }
  .home_nav_ele > div > ul > li:nth-child(1) {
    margin-left: -20px;
  }
  .home_nav_ele {
    display: flex;
    flex-direction: row;
  }
  div {
    display: block;
  }
  .user_info {
    margin-top: -20px;
  }
  .user_info > li:nth-child(1) > div {
    width: 180px;
    height: 50px;
    background-color: #e16f62;
    border-radius: 5px;
    margin: 20px 10px 0 60px;
    padding-top: 0.5px;
  }
  .user_info h5 {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
    color: #ebebeb;
  }
  .user_info > li:nth-child(2) > div,
  .user_info > li:nth-child(3) > div,
  .user_info > li:nth-child(4) > div {
    margin: 30px 15px;
  }
  .user_info h5 + div {
    width: 50px;
    height: 16px;
    background-color: #ffffff;
    margin-top: -18px;
    margin-left: 60px;
    font-size: 14px;
    border-radius: 30px;
  }
  .user_info h5 + div > input {
    margin-top: 1px;
    font-size: 5px;
    height: 10px;
  }
  /* login button */
  .login {
    color: black;
  }
  .login button {
    width: 170px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: "poppins";
    background-color: #f5f5f5;
    margin-left: 10px;
  }
  .login button:hover {
    color: white;
    background-color: rgb(177, 115, 0);
    border: none;
  }
  .login span {
    margin-left: 10px;
    font-weight: 600;
  }
  .login > p {
    margin-top: 2px;
    font-size: 13px;
    margin-left: 11px;
    color: #3f317e;
  }
  /* search div/.......... */
  
  .search_div {
    width: 100%;
    height: 430px;
    margin-top: 72px;
    background-image: url("https://media.monsterindia.com/trex/public/default/images/hero-img.jpg?210120191234");
    position: relative;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    background-size: cover;
  }
  
  /* company logos */
  
  .logos,
  .jobs_div {
    max-width: 1138px;
    height: auto;
    background-color: white;
    margin: 15px auto;
    display: block;
    padding: 15px 25px;
  }
  .logos h2,
  .jobs_div h2 {
    padding-bottom: 10px;
    color: #3c3c3c;
    font-weight: 500;
  }
  .logos > div,
  .jobs_div > div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    clear: both;
  }
  .logos > div > div:nth-child(2),
  .jobs_div > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
  }
  .logos a {
    margin-left: 33px;
  }
  .logos > div > div:nth-child(1),
  .logos > div > div:nth-child(3),
  .jobs_div > div > div:nth-child(1),
  .jobs_div > div > div:nth-child(3) {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: #c5c5c5 1px 1px 6px;
  }
  
  /* main info  */
  
  .main_info {
    margin: auto;
    width: 1188px;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  
  .info_cont {
    width: 72%;
    height: auto;
  }
  .info_cont > div:nth-child(1) {
    height: 120px;
    background-color: rgb(255, 241, 220);
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .info_cont > div > img {
    margin-top: 30px;
    height: 90px;
  }
  .info_cont img + div {
    margin-left: 20px;
  }
  .info_cont > div > div > h3 {
    font-family: "Roboto", sans-serif;
    margin-bottom: -20px;
    margin-top: 25px;
  }
  .info_cont > div > div > p {
    font-size: 19px;
  }
  .info_cont > div p + button {
    margin-left: 522px;
    color: white;
    width: 133px;
    border-top-left-radius: 38px;
    background: #6b50a7;
    border: 1px solid #6b50a7;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    margin-top: -15px;
  }
  
  /* work from home  and recent jobs div*/
  /* similar to logo div */
  
  .jobs_div {
    height: auto;
    width: auto;
  }
  
  .jobs_div h2 + a {
    margin-top: -60px;
    float: right;
    text-decoration: none;
  }
  .job_info {
    margin-top: -10px;
  }
  .jobs_div > div > div:nth-child(1),
  .jobs_div > div > div:nth-child(3) {
    margin: 40px 0px 0;
  }
  .job_info > a {
    margin: 3px 8px;
    min-width: 190px;
    width: 30%;
    height: 110px;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #3c3c3c;
    padding: 15px;
  }
  .job_info h5 {
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .job_info h6,
  .job_info p {
    margin-bottom: -10px;
    font-size: 13px;
    color: #3c3c3c;
  }
  .job_info h6 {
    color: #8d8d8d;
  }
  
  /* find job vacancies */
  
  .find_jobs {
    max-width: 1138px;
    height: auto;
    background-color: white;
    margin: 10px auto;
    display: block;
    padding: 15px 25px;
    font-family: "poppins";
  }
  .find_jobs h2,
  .advice h2 {
    font-size: 22px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "poppins";
  }
  .find_jobs button {
    width: 120px;
    padding: 6px;
    font-size: 14px;
    border: none;
    margin: 5px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .find_jobs button:nth-child(1) {
    margin-left: 15px;
    background-color: #5d4da8;
    color: white;
  }
  .find_jobs ul > li {
    list-style-type: none;
    margin-top: 15px;
  }
  .find_jobs li > a {
    text-decoration: none;
    color: #3c3c3c;
    font-size: 14px;
  }
  .find_jobs > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
  }
  .find_jobs > div > div:nth-child(2) > div {
    width: 250px;
  }
  .find_jobs > div > div:nth-child(3) {
    margin: 5px 0px 20px 600px;
  }
  .find_jobs > div > div > a {
    text-decoration: none;
    font-size: 15px;
  }
  
  /* contact by mobile */
  .contact_mobile {
    width: auto;
    height: 90px;
    background-color: #7159db;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    font-family: "poppins";
  }
  .contact_mobile > div {
    width: 50%;
  }
  .contact_mobile > div:nth-child(1) > p {
    font-size: 15px;
    font-weight: 600;
    color: white;
    line-height: 25px;
  }
  .contact_mobile > div:nth-child(2) {
    padding: 20px 15px 15px 0px;
  }
  .contact_mobile input {
    width: 47%;
    height: 25px;
    padding: 10px;
    color: #3c3c3c;
    font-size: 16px;
  }
  .contact_mobile button {
    width: 45%;
    height: 48px;
    margin-left: -2px;
    background-color: #f5a623;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
  }
  
  /* research & report */
  
  .report {
    width: 100%;
    background-color: #f5f5f5;
    height: 179px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "poppins";
  }
  .report > h3 {
    margin-bottom: 0px;
    color: #3c3c3c;
  }
  .report > p {
    color: #8d8d8d;
  }
  .report > a {
    margin-left: 700px;
    text-decoration: none;
  }
  
  /* tips and advice*/
  
  .advice {
    max-width: 1138px;
    height: auto;
    background-color: white;
    margin: 10px auto;
    display: block;
    padding: 15px 25px;
    font-family: "poppins";
  }
  .advice > div {
    display: flex;
    flex-direction: row;
  }
  
  .advice > div > div {
    width: 50%;
    padding: 0px 20px;
  }
  /* quick links with headings */
  
  .info_headings {
    width: 28%;
    height: 1500px;
  }
  .info_headings > div {
    max-width: 320px;
    height: auto;
    background-color: white;
    display: block;
    font-family: "poppins";
    margin-left: 13px;
    padding-bottom: 25px;
  }
  .info_headings > div:nth-child(2) {
    margin-top: 15px;
  }
  .info_headings > div > div:nth-child(1) {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 1px 10px;
  }
  .info_headings h2 {
    font-size: 22px;
    color: #616161;
    font-weight: 700;
    margin-left: 15px;
    font-size: 18px;
  }
  .info_headings ul {
    margin-left: -20px;
  }
  .info_headings li {
    list-style: none;
    margin: 10px;
  }
  .info_headings li:hover {
    text-decoration: underline #7159db;
  }
  .info_headings a {
    text-decoration: none;
    color: #7e7e7e;
    font-size: 15px;
    font-family: "poppins";
  }
  
  /* footer... */
  
  .footer_table {
    margin: auto;
    width: 1188px;
    font-size: 12px;
    font-family: "poppins";
  }
  .footer_table > tr > td {
    padding: 8px;
    justify-content: center;
    line-height: 18px;
    color: #3c3c3c;
  }
  .footer_table > tr > td:nth-child(1) {
    width: 150px;
    color: #5d4da8;
  }
  .footer_contact {
    width: 95.5%;
    height: auto;
    border-top: 1px solid #c0c0c0;
    margin-top: 30px;
    padding: 30px;
  }
  .footer_contact > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1188px;
  }
  .footer_contact select {
    width: 150px;
    height: 35px;
  }
  .footer_contact p {
    margin: -2px 60px 0px 100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: "poppins";
  }
  .footer_contact span {
    color: #5d4da8;
  }
  .footer_contact > div > span {
    margin-left: 30px;
    font-size: 25px;
  }
  
  /* info  */
  .footer_info {
    height: 300px;
    width: 98%;
    background-color: #5d4da8;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "poppins";
    padding: 15px;
  }
  
  .footer_info li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .footer_info li {
    list-style: none;
    font-size: 15px;
    line-height: 27px;
  }
  .footer_info li:nth-child(1) {
    font-weight: 600;
    font-size: 17px;
  }
  .footer_info > ul {
    margin-left: 50px;
  }
  .footer_info ul:nth-child(1) {
    margin-left: 140px;
  }
  
  /* dropdown */
  
  .drop {
    width: auto;
    height: auto;
    background-color: #fafafa;
    position: absolute;
    z-index: 1;
    left: 100;
    top: 50px;
    box-shadow: 0px 1px 5px #999999;
    padding-left: 30px;
    padding-right: 30px;
  }
  .drop > li {
    list-style: none;
    padding: 10px;
    margin-left: -30px;
    color: #888888;
    font-size: 13px;
  }
  .drop > li:hover {
    color: #7159db;
    border-left: 5px solid #7159db;
  }