
.body{
    width: 80%;
    border: 1px solid red;
    margin: auto;
    display: flex;
    gap: 10px;
}
.body>div{
    border: 1px solid blue;
}

.body>div:first-child{
    width:100%;
}
.body>div:last-child{
    width:32%;
}