

.jobBySkills{
    border: 1px solid rgb(229, 227, 227);
    margin-top: 10px;
}
.jobBySkills>h3{
    font-size: 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 10px;
    /* font-weight: 400; */
    margin-bottom: 20px;
}
.jobBySkills>p{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}