*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.WorkFromHomes_Main{
    width: 100%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
}
.WorkFromHomeFilters{
    background-color: white;
    border: 1px solid rgb(162, 162, 162);
    height: 100%;
    width: 21%;

}
.WorkFromHomeFilterComponents input{
    border: 1px solid black;
    height: 20px;
    width: 30px;
    
}
.WorkFromHomes{
    width: 67%;
}
.WorkFromHome_Left_JobDetails_Pages{
    width: 80.5%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.WorkFromHome_TopDiv{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.3rem;
    margin: auto;
    height: 4rem;
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
}
.selectTag{
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
}
.WorkFromHome_TopDiv_firstSelectTag{
    margin-top: 0.6rem;
    margin-right: 0.9rem;
}


.Job_mainDiv{
    width: 100%;
    margin: auto;
    margin-top: 1.1rem;
    background-color: white;
    text-align: left;
    padding-left: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.JobPosition{
    padding-top: 0.8rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.companyName{
    color: rgb(108,154,235)
}
.jobDeatails{
    margin-top: 0.5rem;
}
.jobSkill{
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}
.jobPostingTime{
    width: 100%;
    margin: auto;
    background-color:rgb(235,235,235);
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-top: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}
.jobPostingTime_leftSide,.jobPostingTime_rightSide{
    padding-left: 1rem;
    display: flex;
}
.jobPostingTime_leftSide{
     padding-top: 10px 
}
.fontColor{
    color: rgb(108,154,235) 
}
.reactIcons{
    margin:  0.4rem;
}
.icons{
    width: 30px;
    height: 30px;
}
.applyBtn{
    border: 1px solid rgb(108,154,235);
    color: rgb(108,154,235);
    margin: 0 1rem;
    width: 7rem;
    font-size: 17px;
    font-weight: 500;
    height: 2.5rem;
}

.boxIcons{
    display: flex;
    justify-content: space-between;
}

/* media Query of laptop and tablets */

@media screen and (min-width : 320px) and (max-width : 768px) {
    .WorkFromHomes_Main{
        width: 100%;
        padding: 10% 0% 5% 5%;
        /* border: 1px solid red; */
    }
    .WorkFromHomeFilters{
        width: 25%;   
    }
    .WorkFromHomes{
        width: 75%;
    }

    .WorkFromHome_Left_JobDetails_Pages{
        width: 92%;
        margin-left: 4%;
    }
    .WorkFromHomeFilterComponents input{
        height: 15px;
        width: 15px;
        
    }
    .boxIcons{
        display: flex;
        justify-content: flex-start;
    }
    .boxIcons  input {
        margin-top: 5px;
    }
    .boxIcons  p {
        font-size: 12px;
        padding-top: 4px;
        margin: 0;
    } 
    .jobPostingTime_leftSide{
        padding-left: 0.9rem;
        padding-top: 12.5px;
        font-size: 13px;
    }
}


/* media Query of small devies */
@media screen and (max-width : 320px) {
    .WorkFromHomes_Main{
        width: 100%;
        padding: 26% 0% 0% 0%;
        /* border: 1px solid red; */
        display: block;
    }
    .WorkFromHomeFilters{
        width: 100%;   
    }
    .WorkFromHomes{
        width: 100%;
    }

    .WorkFromHome_Left_JobDetails_Pages{
        width: 100%;
        margin-left: 0%;
    }
    .icons{
        width: 20px;
        height: 20px;
    }
    .applyBtn{
        padding: 0 0.5rem;
        width: 3.5rem;
        font-size: 12px;
        height: 2rem;
    }
    .reactIcons{
        margin: 0.4rem 0.1rem;
    }
    .jobPostingTime_leftSide,.jobPostingTime_rightSide{
        padding-left: 0rem;
        display: flex;
    }
    .jobPostingTime_leftSide{
        padding-left: 0.1rem;
        padding-top: 10px;
        font-size: 10px;
    }
    .jobDeatails{
        text-align: left;
    }
    .WorkFromHome_TopDiv{
        display: flex;
        justify-content: flex-start;
    }
    .selectTag{
        width: 70px;
    }
    .WorkFromHome_TopDiv_firstSelectTag{
        font-size: 13px;
        margin-left: 3px;
    }
}
