.topSearch {
    color: white;
    /* font-family:  poppins-regular-webfont,"Arial, Helvetica, sans-serif"; */
    /* poppins-regular-webfont, "Arial, Helvetica, sans-serif"; */
    /* font-family: poppins-regular-webfont, "Arial, Helvetica, sans-serif"; */
    display: flex;
    flex-direction: row;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('https://media.monsterindia.com/trex/public/default/images/hero-img.jpg?210120191234');
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 40px;
    background-size: 180%;
    background-position: top;
    margin-top: 72px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 57%;

}


.topSearch ul {
    display: flex;
    gap: 20px;
    width: 500px;
    
}

.topSearch li {
    all: unset;
}
.topSearch li:nth-child(3),li:nth-child(4){
    display: block;
}
.topSearch li:first-child {
    border-bottom: 2px solid white;
}

.searchBox {
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 5px;
    padding: 30px;
    overflow: hidden;
}

.header {
    font-size: 40px;
    /* margin: 8px; */
    position: absolute;
    top: 10px;
    display: block;
}

.searchDiv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.searchInput {
    background: rgb(255, 255, 255);
}

.searchInput p {
    color: rgb(153, 153, 153);
    font-size: 20px;
    margin: 10px;
}

.searchInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
}

.searchInput input {
    all: unset;
    color: black;
    width: 100%;
    height: 20px;
    text-align: left;

}

.searchDiv button {
    height: 45px;
    border: none;
    color: white;
    background: #5d4da8;
    width: 150px;
}

.searchDiv button:hover {
    background: #4e3aa4;

}

.advanceSearch {
    text-align: right;
    margin-bottom: 05px;
    font-size: 14px;

}

.trandingSearch {
    display: block;
}





.rightContainer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 98%;
}
.rightContainer2{
    display: none;
}
.rightContainer>div {
    width: 48%;
    color: black;
    background: rgb(255, 255, 255);
}

.rightContainer2>div {
    width: 48%;
    color: black;
    background: rgb(255, 255, 255);
}

.uploadResume {
    padding: 10px;
    font-size: 14px;
}

.uploadResume span {
    font-weight: bold;
}

.uploadResume>P:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

.uploadResume>P:nth-child(2) {
    font-weight: bold;
    color: #5d4da8;
    margin-bottom: 22px;

}

.uploadResume>p:nth-child(3) {
    margin-bottom: 22px;
    color: rgb(150, 150, 150);
}

.uploadResume button {
    background: #f5a623;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
}

.uploadResume button:hover {
    background: #dd6e13;

}
.uploadResume input{
    all:unset;
    width: 100px;
    text-align: center;
}
.createJob {
    padding: 10px;
}

.createJob>p:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

.createJob>p:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
}

.createJob>p:nth-child(3) {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: 10px;
    margin-bottom: 20px;
}

.createJob button {
    color: #4e3aa4;
    border: 1px solid #4e3aa4;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.createJob button:hover {
    color: white;
    background: #4e3aa4;
}

@media (min-width: 200px) and (max-width: 1125px) {
    .topSearch {
        flex-direction: column;
    }

    .leftContainer {
        width: 100%;
        /* margin: auto;
        padding: auto; */
        align-items: center;

    }
    .searchDiv{
        margin-top: 10px;
    }

    .rightContainer {
        width: 80%;
        margin: auto;
    }

    .trandingSearch {
        display: none;
    }
    .rightContainer{
        display: none;
    }
    .rightContainer2{
        display: flex;
        padding: 15px;
        border-radius: 5px;
        justify-content: space-around;
        height: 98%;

    }
    /* .rightContainer2 >div{
        border: 1px solid black;
        
    } */
    .rightContainer2 button{
        width: 80%;
    }
}

@media (min-width: 200px) and (max-width: 740px) {
    .header {
        display: none;
    }

    .searchBox {
        width: 100%;
        padding-bottom: 0;
        background: none;
    }

    .topSearch {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0 ;
    }
    .searchDiv button {
        width: 100px;
    }
    .topSearch li:nth-child(3),li:nth-child(4){
        display: none;
    }
}


@media (min-width: 200px) and (max-width: 440px) {
    .rightContainer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .rightContainer2>div{
        width: 100%;
    }
    .rightContainer2 button{
        width: 100%;
    }
}
